body {
    overflow-x: hidden;
}
header {
    height: 200px;
    background: linear-gradient(rgba(32,68,206,.9),rgba(32,68,206,.9)),url("images/faq-bg.jpg");
    padding-top: 25px;
    background-position: cover;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 14vw;
    height: 60px;
}

.lang-link {
    text-decoration: underline !important;
}

header h1 {
    font-size: 18px;
    font-family: "Roboto";
    color: #fff;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 20px;
}
.toc-container {
    min-width: 275px;
    width: 24%;
    top: 0;
    border-radius: 3px;
}
.toc {
    margin-left: 20px;
    list-style: none;
    padding-top: 15px;
    padding-left: 25px;
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}
ul.toc::before {
    content: "";
    border-left: 2px dotted #dde3ff;
    width: 1px;
    height: 200%;
    position: absolute;
    left: 10px;
    top: 2vw;
}
.toc li {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    background: #f7f7ff;
    width: 240px;
    padding: 5px;
    border-radius: 3px;
    color: white;
}
.toc > li::before {
    content: attr(data-index);
    display: block;
    text-align: center;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2c3fbd;
    z-index: -1;
    left: -27px;
    top: 3px;
    color: white;
    font-size: 15px;
}
.toc > li.active-link::before {
    background: orange;
}
.toc > li a {
    font-size: 15px;
    font-weight: 500;
    color: #2b2b2b;
}
a[aria-expanded="true"] .fa::before {
    content: "\f078" !important;
}
p {
    font-size: 13px;
}
.faq-box {
    position: relative;
    background: white;
    border: 1px solid #f1f1f1;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

li {
    font-size: 14px;
}
.progress-container {
    height: 100%;
    overflow: hidden;
    width: 1px;
    background: #ececec;
    position: absolute;
    left: 0;
  }
  
.progress-bar {
    height: 0%;
    background: #2c3fbd;
    width: 1px;
  }

  html {
    scroll-behavior: smooth;
  }

  .img-fluid {
    max-width: 75% !important;
    margin: 25px 0;
}